<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Show Directory</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <title>Save Show</title>
</head>
<body>
<div class="container">
    <h3>Show Directory</h3>
    <hr>
    <p class="h4 mb-4">Save show</p>
    <form action="#" th:action="@{/shows/save}"
          th:object="${show}" method="POST">

        <input type="hidden" th:field="*{ShowId}">
        <input type="date" th:field="*{showDate}"
               class="form-control mb-4 w-25" placeholder="Show Date">
        <input type="time" th:field="*{showHour}"
               class="form-control mb-4 w-25" placeholder="Show Hour">
        <label for="movie">Selecciona una pelicula</label>
        <select id="movie" name="movies">
            <option th:each="tempMovie: ${movies}" th:value="${tempMovie.idmovie}" th:text="${tempMovie.movieName}"></option>
        </select>
        <label for="cinemaRoom">Selecciona una sala</label>
        <select id="cinemaRoom" name="cinemaRooms">
            <option th:each="tempCinemaRoom: ${cinemaRooms}" th:value="${tempCinemaRoom.cinemaRoomId}" th:text="${tempCinemaRoom.cinemaRoomId}"></option>
        </select>
        <button type="submit" class="btn btn-info col-2">Save</button>
    </form>
    <hr>
    <a th:href="@{/shows/list}">Back to Shows List </a>
</div>
</body>
</html>